@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
}

main {
    border-radius: 10px;
    text-align: center;
    background-color: var(--white);
    width: 600px;
    height: 470px;
    margin: 0 auto;
}

#produto_img {
    float: left;
    width: 300px;
    height: 470px;
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#produto_img_mobile {
    display: none;
}

#text_config {
    margin-top: 65px;
    margin-right: 30px;
    text-align: left;
}

#perfume {
    padding-top: 20px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
}

#title {
    padding-top: 0px;
    font-size: 18px;
    line-height: 35px;
}

#description {
    line-height: 25px;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
}

#valor_atual {
    float: left;
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
}

#valor_anterior {
    margin-top: 33px;
    margin-right: 80px;
    float: right;
    font-size: 14px;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}

#btn-compra {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    background-color: var(--dark-cyan);
    color: var(--white);
    height: 50px;
    width: 250px;
}

#btn-compra img {
    margin-right: 10px;
}

#btn-compra:hover {
    background-color: var(--very-dark-blue);
}

.attribution {
    margin-top: 90px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}


/*mobile*/

@media(max-width: 992px) {
    main {
        width: 350px;
        height: 670px;
    }
    #produto_img {
        display: none;
    }
    #produto_img_mobile {
        display: block;
        padding-bottom: 0px;
        width: 350px;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #text_config {
        margin-top: 5px;
    }
    .text-formata {
        padding-left: 25px;
    }
    #perfume {
        padding-top: 10px;
    }
    #title {
        font-family: 'Fraunces', serif;
        font-size: 15px;
    }
    #valor_anterior {
        margin-right: 120px;
    }
    #btn-compra {
        width: 300px;
        margin-right: 0px;
    }
}